<?xml version="1.0" encoding="UTF-8"?>
<config>
<!-- NOM AFFICHER SUR LE LAUNCHER -->
<name>M-Launcher</name>
<!-- ICON DU LAUNCHER  -->
<icon>https://raw.githubusercontent.com/Asafusa/MLauncher/main/assets/logo.png</icon>
<!-- BACKGROUND DU LAUNCHER -->
<background>https://raw.githubusercontent.com/Asafusa/MLauncher/main/assets/Background.png</background>
<!-- EXECUTABLE DOFUS DU LAUNCHER -->
<executable>Dofus.exe</executable>
<!-- SERVER DE DOWNLOAD  -->
<download>http://votre-site/launcher/upload/</download>
<!-- XML LINK  -->
<linkxml>https://raw.githubusercontent.com/Asafusa/MLauncher/main/xml/link.xml</linkxml>
<!-- XML NEWS -->
<news>https://raw.githubusercontent.com/Asafusa/MLauncher/main/xml/news.xml</news>
</config>